// fast-responses.scss

// variables

// variables
$card--fast-response-width: 40px;
$card--fast-response-height: 40px;
.card--fast-response {
}
.fast-response {
}

.fast-response-wrapper {
    display: block;
    position: relative;
    background-image: url("/site/assets/images/fast-response/fast-bg.png");
    background-color: #ffc107;
    background-size: cover;
    background-repeat: no-repeat;
    @include BoxShadow(2);
    @include border-radius(8px);
    padding-top: $getter;
    padding-bottom: $getter;
}

.card--fast-response {
    display: flex;
    flex: 0 0 auto;
    margin-bottom: 8px;
    padding-bottom: 8px;
    align-items: center;
    @include media-screen-min-max(xs, sm) {
    }
    @include media-screen-min-max(sm, md) {
    }
    .card--fast-response-media {
        width: $card--fast-response-width;
        height: $card--fast-response-height;
        @include BoxShadow(2);
        @include border-radius(50%);
        padding: 6px;
        margin-right: 12px;
        .fast-response-image-media {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .card--fast-response-content {
        .text-label {
            @include poppins-bold;
        }
    }
}

.card--fast-response.whatsapp {
    .card--fast-response-media {
        background-color: #25d366;
    }
}
// .card--fast-response
