// list-post-type.scss style

// variables
// styles
.card--list-post-type {
    display: block;
    position: relative;
    margin-bottom: $getter;
    margin-right: 16px;
    flex: 0 0 calc((100% / 3) - 16px);
    background-color: #fff;
    @include border-radius(8px);
    @include elevation(2);
    @include media-screen-min-max(xs, sm) {
        flex: 0 0 calc((100% / 1) - 32px);
        margin-left: 16px;
    }
    @include media-screen-min-max(sm, md) {
        flex: 0 0 calc((100% / 2) - 32px);
        margin-left: 16px;
    }
    .card--list-post-type-title,
    .card--list-post-type-content {
        padding: 12px;
    }

    .card--list-post-type-media {
        border-bottom: 1px solid #d2d2d2;
        .list-post-type-media-img {
            width: 100%;
            height: auto;
            object-fit: cover;
            @include border-top-radius(8px);
        }
    }
    .card--list-post-type-body {
    }
    .card--list-post-type-title {
        border-bottom: 1px solid #d2d2d2;
        .text-label {
            font-size: 1.1em;
            color: #000;
            @include poppins-bold;
        }
    }
    .card--list-post-type-content {
        .text-content {
            font-size: 95%;
        }
    }
}
