// owl-carousel.scss style

// variables
$owl-dot-width: 16px;
.owl-carousel {
}
.card--owl-carousel {
}

.owl-carousel.owl-carousel-root {
    padding: $getter;
    background: inherit;
    @include media-screen-min-max(xs, sm) {
        padding: 0;
    }
    @include media-screen-min-max(sm, md) {
    }
    .owl-stage-outer {
    }

    .owl-nav {
        // width: calc(100% - 20px);
        .owl-prev,
        .owl-next {
            position: absolute;
            width: 40px;
            height: 40px;
            top: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include transform-translateY(-50%);
            @include border-radius(50%);
            @include transitions(background-color, 0.3s);

            .material-icons-outlined {
                font-size: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #666;
                @include transitions(color, 0.3s);
            }

            @include hover {
                background-color: $primary;
                @include BoxShadow(2);
                .material-icons-outlined {
                    color: #fff;
                }
            }
        }
        .owl-prev {
        }
        .owl-next {
            right: 30px;
            @include media-screen-min-max(xs, sm) {
                right: 0;
            }
            @include media-screen-min-max(sm, md) {
            }
        }
    }

    .owl-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        .owl-dot {
            background: $primary;
            @include size($owl-dot-width);
            @include BoxShadow(2);
            @include border-radius(50%);
            margin: 4px;
            @include transitions(border, 0.3s);
            @include transitions(background, 0.3s);
            span {
            }
            &.active {
                background: $secondary;
                border: 3px solid $primary;
            }
        }
    }
}
