// owl-carousel.scss style

// variables
$owl-dot-width: 16px;
.owl-carousel {
}
.card--owl-carousel {
}

.owl-carousel {
    padding: $getter;
    background: #eee;
    .owl-stage-outer {
    }

    .owl-nav {
    }

    .owl-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        .owl-dot {
            background: $primary;
            @include size($owl-dot-width);
            @include BoxShadow(2);
            @include border-radius(50%);
            margin: 4px;
            @include transitions(border, 0.3s);
            @include transitions(background, 0.3s);
            span {
            }
            &.active {
                background: $secondary;
                border: 3px solid $primary;
            }
        }
    }
}
