// question-answer.scss style

// variables
$card--question-answer-background: #fff;
$card-answer-border: 1px solid #d0d0d0;

.question-answer-root {
    display: block;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

.card--question-answer {
    padding: 12px;
    margin-bottom: $getter;
    @include elevation(2);
    @include border-radius(8px);
    background-color: $card--question-answer-background;
    .card-question {
        .collapse-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .question-text {
                @include poppins-bold;
                font-size: 1em;
            }
            .material-icons-outlined {
                color: $black;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .card-answer {
        margin-top: $getter;
        border-bottom: $card-answer-border;
        padding-bottom: 8px;
        margin-left: 16px;
        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .answer-text {
            font-size: 90%;
            margin-bottom: 8px;
        }
        .answer-group-text {
            display: flex;
            border-bottom: $card-answer-border;
            margin-bottom: 12px;
            &:last-child {
                border-bottom: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            .answer-number {
                color: $black;
                flex: 0 0 16px;
            }
        }
    }
}

.question {
    .row.row-question {
        padding-top: 32px;
        padding-bottom: 32px;
        background: #ffffff;
        align-items: center;
        .col-question-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .question-title {
                @include poppins-bold;
                font-size: 1.7em;
                text-align: center;
                margin-bottom: 24px;
            }
            .question-description {
                font-size: 85%;
                margin-bottom: 24px;
            }
            .question-action {
            }
        }

        .question-card {
        }
    }
}
